@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.tsm_s-s {
  background: linear-gradient(transparent, black);
}

.bg-grid-slide {
  width: 100%;
  height: 100% !important;
  flex-direction: column;


}

.bg-grid-slides {
  width: 100%;
  height: 90%;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item {
  width: 100%;
  height: 100%;

}

.slide-content {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  top: 0;


  justify-content: var(--space-around);
  align-items: var(--flex-start);
  display: var(--flex);
}

.content-text-model {
  padding: 20px;
  border-radius: 30px;
}

.slide-content-text {
  border-radius: 30px;
  padding: 20px;
}




.z06-logo {
  width: 700px;
}

.slide-img {
  width: 80%;
  left: calc(50% - 40%);
  bottom: -15% !important;
  margin: auto;
}

/* .mask-img{
  mask-image: linear-gradient(transparent,transparent, var(--backgradient-principal-color), var(--backgradient-principal-color), var(--backgradient-principal-color), var(--backgradient-principal-color), var(--backgradient-principal-color));
} */

.slide-three h1 {
  font-size: clamp(1.7rem, 5vw, 3rem);
  letter-spacing: 2px;
}

.slide-three h2 {
  font-size: clamp(1.5rem, 1vw, 2rem);

}

/* ===== RESPONSIVE ===== */
/* Dispositivos grandes (pantallas anchas, laptops) */
@media (max-width: 1200px) {}

/* Dispositivos medianos (tablets en horizontal o laptops más pequeñas) */
@media (max-width: 992px) {}

/* Dispositivos pequeños (tablets en vertical, smartphones grandes) */
@media (max-width: 768px) {
  .bg-grid-slides {
    height: 100%;
  }
  .slide-content{
    top: 0%;

  }
  .content-text-model {
    padding: 20px;
    border-radius: 30px;
  }
  .modeldescription{
    display: none;
  }
  .modelcontent{
    width: 100%;
  }
  .modelname h1 {
    font-size:1rem !important;
    margin: 0 !important;
    font-weight: bold !important;
  }
    .modelname p {
    font-size: 2.5rem !important;
    margin: 0 !important;
  }

  .slide-img {
    width: 110%;
    left: calc(50% - 55%);
    bottom: 15% !important;
    margin: auto;
  }
}

/* Dispositivos extra pequeños (smartphones más comunes) */
@media (max-width: 576px) {}

/* Dispositivos ultrapequeños (smartphones muy compactos) */
@media (max-width: 360px) {}

/* Orientación landscape (horizontal) */
@media (orientation: landscape) and (max-width: 768px) {}

@media (orientation: landscape) and (max-width: 576px) {}

@media (orientation: landscape) and (max-width: 360px) {}


.slide-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-img {
  opacity: 1;
  transition: all 500ms;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>* {
  opacity: 1;
  transform: none;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(1) {
  transition-delay: 0.3s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(2) {
  transition-delay: 0.4s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(3) {
  transition-delay: 0.5s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(4) {
  transition-delay: 0.6s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(5) {
  transition-delay: 0.7s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(6) {
  transition-delay: 0.8s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(7) {
  transition-delay: 0.9s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(8) {
  transition-delay: 1s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(9) {
  transition-delay: 1.1s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(10) {
  transition-delay: 1.2s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(11) {
  transition-delay: 1.3s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(12) {
  transition-delay: 1.4s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(13) {
  transition-delay: 1.5s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(14) {
  transition-delay: 1.6s;
}

.bg-grid-slides .blog-slider__wrp .blog-slider__item.swiper-slide-active .slide-content>*:nth-child(15) {
  transition-delay: 1.7s;
}

.bs-slide-text .profile-redes a i {
  color: var(--white) !important;
}


@media screen and (max-width: 576px) {
  .slide-content {
    padding: 0;
  }
}

.slide-content>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;

}


.slide_controls {
  width: 100%;
  height: 10%;
}

.slide_controls-pagination {
  left: 2%;
}

@media screen and (max-width: 768px) {
  .slide_controls-pagination {
    display: none;
  }
}

.blog-slider__numbers {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.opacity-slide-active {
  color: white;
  opacity: .3;
}

.slide_controls-progress-bar {
  width: 250px;
  right: 10px;
  height: 2.5px;
  background-color: #002129;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .slide_controls-progress-bar {
    width: 100%;
    right: 10px;
    height: 2.5px;
    background-color: #002129;
    border-radius: 5px;
    overflow: hidden;
  }

}

.progress-bar-fill {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.slide_controls-indicators {
  width: 200px !important;
  height: 10px !important;
  padding: 2px 10px;
}

.slide_controls-indicators .swiper-pagination-bullet {
  width: 11px;
  height: 5px;
  border-radius: 10px;
  background: var(--backgradient-principal-color);
  margin-right: 10px !important;
  opacity: .2;
  display: block;
  transition: all 0.3s;

}

.slide_controls-indicators.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

.slide_controls-indicators .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--text-color);
  width: 30px;
  height: 5px;
}

@media screen and (max-width: 768px) {
  .slide_controls-indicators {
    transform: translateX(-50%);
    left: 50% !important;
    bottom: -2%;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide_controls-icons {
    display: none;
  }

  .slide_controls-indicators.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }

  .slide_controls-indicators .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }

  .slide_controls-indicators .swiper-pagination-bullet-active {
    height: 5px;
    width: 30px;
  }

}

.slide_controls-icons {
  right: 2%;
}

.slide_controls-icons {
  padding: 5px;
}

.slide_controls-icons i {
  color: var(--text-color);
  margin: 10px;
}

.slide_controls-icons i:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slide_controls-icons {
    display: none;
  }
}



.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}






























