/* ===== RESPONSIVE ===== */
.svg_bmwlogoscroll {
  width: 1000px;

  margin: auto !important;

  top: calc(50% - 100px);
  
  left: 0;
  right: 0;

  opacity: 0;

  transition: all 500ms ease;

}

svg.bmwlogo_scroll {
  width: 300px;
padding: 20px;


  transition: all 500ms ease;

  top: 1% !important;
  opacity: 1;
}


/* ===== RESPONSIVE ===== */
.svg_unicarslogovideo {
  width: 1000px;

  margin: auto !important;

  bottom: 43.5%;
  left: 0;
  right: 0;

  opacity: 1;
  transform: scale(1);

  transition: all 500ms ease;

}


.content-logo-performance{
  width: 60%;
  height: 300px;

}
.svglogocorvette{
  width: 300px;
}
.svglogotext{
  width: 700px;
}

#black {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 15s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

















#textblack {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: textblack 10s ease-out forwards infinite alternate;
}

@keyframes textblack {
  85% {
    fill: transparent;
  }

  90% {
    fill: transparent;
    stroke-dashoffset: 0;
  }

  95% {
    fill: white;
    stroke: white;
    stroke-dashoffset: 0;
    stroke-width: 5;
  }

  100% {
    fill: white;
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 0;
  }
}

#cuadrosblacks {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: transparent;
  stroke-dasharray: 4500;
  stroke-dashoffset: 5000;
  animation: cuadrosblack 10s ease-out forwards infinite alternate;
}

@keyframes cuadrosblack {
  85% {
    fill: transparent;
    stroke: transparent;
  }

  90% {
    fill: transparent;
    stroke: transparent;
    stroke-dashoffset: 0;
  }

  95% {
    fill: black;
    stroke: white;
    stroke-dashoffset: 0;
stroke-width: 5;
  }

  100% {
    fill: black;
    stroke: white;
stroke-width: 8;
    stroke-dashoffset: 0;
  }
}

#strokeblack {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2500;
  animation: cuadrosblacks 10s ease-out forwards infinite alternate;
}

@keyframes cuadrosblacks {
  85% {
    fill: transparent;
    stroke: white;
  }

  90% {
    fill: transparent;
    stroke: white;
    stroke-dashoffset: 0;
  }

  95% {
    fill: black;
    stroke: white;
    stroke-dashoffset: 0;
stroke-width: 8;
  }

  100% {
    fill: black;
    stroke: white;
stroke-width: 8;
    stroke-dashoffset: 0;
  }
}

#unicarsred {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: red;
  stroke-dasharray: 2500;
  stroke-dashoffset: 3000;
  animation: unicarsred 10s ease-out forwards infinite alternate;
  z-index: 1;
}

@keyframes unicarsred {
  85% {
    fill: transparent;
    stroke: red;
  }

  90% {
    fill: transparent;
    stroke: red;
    stroke-dashoffset: 0;
  }

  95% {
    fill: red;
    stroke: red;
    stroke-dashoffset: 0;
    stroke-width: 5;
  }

  100% {
    fill: red;
    stroke: red;
    stroke-width: 5;
    stroke-dashoffset: 0;
  }
}


#unicarsgray {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-dasharray: 2500;
  stroke-dashoffset: 3000;
  animation: unicarsgray 10s ease-out forwards infinite alternate;
  z-index: 1;
}

@keyframes unicarsgray {
  85% {
    fill: transparent;
    stroke: white;
  }

  90% {
    fill: transparent;
    stroke: white;
    stroke-dashoffset: 0;
  }

  95% {
    fill: white;
    stroke: white;
    stroke-dashoffset: 0;
    stroke-width: 5;
  }

  100% {
    fill: white;
    stroke: white;
    stroke-width: 5;
    stroke-dashoffset: 0;
  }
}






@media (max-width: 768px) {
  .content-logo-performance{
    width: 90%;
    height: 40%;
    flex-direction: column;
  }
  .svglogotext{
    width: 90%;
  }
  .svglogocorvette{
    width: 50%;
  }
}