
.slide-content-model-description{
  width: 70%;
  height: 100%;
  top: 10%;
}

.popup-content{
  width: 90%;
  height: 80% !important;
  padding-top: 2%;

  justify-content: start;
  align-items: center;
  display: flex;

}
.popup{
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    flex-shrink: 0;
    border-radius: 3px;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    z-index: 500;

    padding: 20px;
}

.popup .content{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #4cfa63;
    border-radius: 30px;
    background-color: var(--dark-medium-principal-color);

    opacity: 0;
    transition: all .3s ease .3s;
    z-index: 1000;

}

.content-wrapper{
    width: 90%;
    height: 90%;
overflow-y: scroll;

}
.chevrolet-performance, .data-model-car, .text-wrap{
  padding: 10px;
}

body.activet .content{
    opacity: 1;
    transform: none;
}

body.activet .popup{
    opacity: 1;
    visibility: visible;
}


.content-wrapper img{
  margin-bottom: 300px;
}
.chevrolet-performance{
  width: 95%;
}
.data-model-car{
  width: 50%;
}
.data-model-car h3{
  font-weight: 500 !important;
}
.text-wrap{
  width: 90%;
  padding: 10px;
  height: auto;
  margin: auto;

}

.paint-corvette{
  text-align: center;
}
.text-wrap div{
  padding: 10px;
  margin: 10px;

}


#shiva
{
  left: -15%;
  top: 20%;
  font-size:7rem;
}
.counthp
{
  width: 250px;

  color:white;
  font-size:7rem;
}
.texthp
{
  width: auto;

  color:white;
  font-size:1rem;
}

#shiva2
{
  top: 20%;
  right: -15%;
}
.count0-100
{
  width: 250px;
  color:white;
  font-size:7rem;
}
.text0-100{
  width: 250px;
  color:white;
  font-size:1rem;
}



.try-again{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--dark-medium-principal-color);

    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);

    position: absolute;
    right: 10px;
    top: 10px;
}



.slide-img {
  width: 70%;
  left: calc(50% - 35%);
  bottom: -10% !important;
  margin: auto;
  /* filter: drop-shadow(0 0 0.75rem var(--colormblueone)); */

  z-index: 2000;
}

/* Dispositivos pequeños (tablets en vertical, smartphones grandes) */
@media (max-width: 768px) {
  .slide-content{
    flex-direction: column;
  }

  .slide-content-content{
    width: 90%;
  }
  .modelname{
    width: 100%;
  }
  .modelname h1{
    font-size: 2rem;
  }

  .slide-content div{
    width: 100%;
  }

  .text-wrap{
    width: 100%;
    flex-wrap: wrap !important;
    justify-content: space-around;
    align-items: center;
    display: flex !important;
}

.slide-content-model-description{
  width: 100%;
  height: 100%;
  top: 0%;

}
.popup-content{
  height: 50%;
  padding-top: 50% !important;
}

.popup{
  width: 90% !important;
  height: 70% !important;
  top: 20%;
}

#shiva, #shiva2{
  display: none;
}
.z06-logo{
  width: 90% !important;
}
.bg-grid-slides {
  width: 100%;
  height: 100%;

}
.chevrolet-performance{
  flex-direction: column;
}
.chevrolet-performance div{
  margin-bottom: 30px;
}

.content-wrapper img{
  width: 100%;
}
.gerente{
  display: none;
}
}

